html,
body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    max-width: 400px;
}

input {
    padding: 10px 20px;
    width: 100%;
}

p {
    padding: 0;
    line-height: 5px;
}

li {
    border: 1px solid #f5eceb;
    padding: 10px 20px;
    margin-top: 2px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-btn {
    margin-left: auto;
    margin-right: 5px;
    color: #4d79d6;
    margin-bottom: 5px;
}

.edit-btn:hover {
    color: #4f37db;
    cursor: pointer;
}

.delete-btn {
    color: #db374a;
}

.delete-btn:hover {
    cursor: pointer;
    color: #a30719;
}

.loading {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
}


.item-hidden {
    display: none;
}

.item-list-form:not(.item-hidden) {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item-list-form>span {
    margin-left: 3px;
    color: green;
    cursor: pointer;
}